#skills {
  position: relative;
  background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill_page {
  gap: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill_page .skills_container {
  width: 100%;
  padding-top: 50px;
}

#skills .skill_page .skills_container .title_skills_container {
  position: relative;
  margin-bottom: 50px;
}

#skills .skill_page .skills_container .title_skills_container h1 {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffff;
}

#skills .skill_page .skills_container .stack_skills_container {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 8fr;
      grid-template-rows: 8fr;
  gap: 2.2rem;
}

#skills .skill_page .skills_container .stack_skills_container img {
  width: 4rem;
}

#skills .skill_page .skills_container .stack_skills_container li {
  cursor: pointer;
  background-color: #1b2735;
  padding: 1rem;
  border-radius: 20%;
}

#skills .skill_page .skills_container_image {
  padding-top: 50px;
}

#skills .skill_page .skills_container_image .left_col {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media only screen and (max-width: 1024px) {
  #skills {
    position: relative;
    background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills .skill_page {
    padding-top: 75px;
    padding-bottom: 75px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills .skill_page .skills_container .title_skills_container {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
  }
  #skills .skill_page .skills_container .title_skills_container h1 {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffff;
  }
  #skills .skill_page .skills_container .stack_skills_container {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 8fr;
        grid-template-rows: 8fr;
    gap: 2.2rem;
  }
  #skills .skill_page .skills_container .stack_skills_container li {
    background-color: #1b2735;
    padding: 1rem;
    border-radius: 20%;
  }
  #skills .skill_page .skills_container_image .left_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills .skill_page .skills_container_image .left_col img {
    width: 100%;
  }
}
/*# sourceMappingURL=Skills.css.map */